h2 {
  font-family: 'Lobster', cursive;
}

div {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 15pt;
  position: absolute;
  text-align: center;
  top: 12%;
  left:0px;
  right:0px;
  bottom:0px;
  overflow-y:scroll;
}

body {
    background: linear-gradient(#b0d4e3, #74b4cd);
    background-attachment: fixed;
}
img {
  display: flex;
  height: 200px;
  width: 300px;
}
