.logo {
  margin-left: 97%;
  height: 35px;
  width: 35px;
  margin-top: -40px;
}

.scroll_bar {
  font-family: 'Lobster', cursive;
  position: fixed;
  width: 97%;
  border: 10px solid #5ea6c5;
  background-color: #5ea6c5;
  margin-top: 12px;
}
