.greeting {
  margin-left: -1200px;
  font-weight: bold;
  font-size: 18pt;
}

.signout {
  margin-top: -60px;
}

img {
  display: block;
  margin: auto;
  margin-top: 150px;
}

body {
  background: linear-gradient(#b0d4e3, #74b4cd)
}
