
<html>
<head>
  <link rel="stylesheet" href="/Users/demouser/JEJ/jej-music/resources/aboutus.css">
  <title> JEJ Music </title>
  <link rel="shortcut icon" href="/JEJ_logo_icon.ico" />

</head>

  <h1> Welcome to JEJ </h1>
<body>

  <div>
  <h2> About JEJ </h2>
  <p> <h3>
 The mission of our product is to provide a platform
 for music enthusiasts

 who are looking for
 new music and new friends.
 <br>
 Our product is designed to match
 people with similar tastes in music so that
 users can explore different genres and songs together.
</h3>
      <br>



  </p>
</div>
</body>
</html>
