<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/resources/about_us.css">
  <title> JEJ Music - About </title>
  <link rel="shortcut icon" href="/JEJ_logo_icon.ico" />
  <style>
  @import url('https://fonts.googleapis.com/css?family=Amatic+SC|Lobster');
  </style>

</head>

<body>

  <div class='scroll_bar'> JEJ Music
   <div class='links'>
     <a id="Results" href="http://localhost:8080/results"> Matches </a>
     <a id="About" href="http://localhost:8080/about"> About us </a>
     <a id="Input" href="http://localhost:8080/"> Input </a>
   </div>
       <img class='logo' src="/JEJ_logo_icon.ico" />
  </div>

<div class="content">
  <div>
  <h2> About JEJ </h2>
  <p> <h3>
 The mission of our product is to provide a platform
 for music enthusiasts

 who are looking for
 new music and new friends.
 <br>
 Our product is designed to match
 people with similar tastes in music so that
 users can explore different genres and songs together.



<h2> How it works </h2>
<h3> Using JEJ you can find other users who have similar tastes in music to you.
  <br>JEJ is a user-friendly
platform that allows you to input songs that you enjoy and then matches you with others who have similarities.
<br>After being matched to another user, their contact information is provided for you to be able to connect with them.
<br>Using JEJ, you can easily expand you music collection and get to know other music lovers. </h3>
<h2> Our team </h2>




<h3>John Sosa- University of Rochester
<br>
    Major: Computer Science

    <img src ="/resources/ME.JPG" >
    <img src ="/resources/uor.png" >

  <br>
   Emma Landry- Queens University
   <br>
   Major: Computer Science
   <img src ="/resources/emma.jpg"/>
   <img src ="/resources/queensu.png"/>
   <br>
   Jessica Romero- Yale University
   <br>
   Major: Computer Science</h3>
   <br>
   <img src= "/resources/yale.jpeg">
 </h3>
<h1> Get started </h1>
</div>

</div>
</div>
</body>
</html>
