<!DOCTYPE html>
<html>
<head> <title> JEJ Music </title>
  <link rel="stylesheet" href="/resources/input.css">
  <link rel="shortcut icon" href="/JEJ_logo_icon.ico" />
  <style>
  @import url('https://fonts.googleapis.com/css?family=Amatic+SC|Lobster');
  </style>
 </head>

 <body>

<div class='scroll_bar'> JEJ Music
 <div class='links'>
   <a id="Results" href="http://localhost:8080/results"> Matches </a>
   <a id="About" href="http://localhost:8080/about">About us</a>
   <a id="Input" href="http://localhost:8080/"> Input </a>
 </div>
     <img class='logo' src="/JEJ_logo_icon.ico" />
  </div>

<div class="input">
<form action="/results" method="get">
  <br>
  Name of Artist
  <input type ="text" name="artist">
  <br>
  Name of Song
  <input type ="text" name="song_name">
  <br>
  Genre
  <select name="genre">
    <option value="classical"> Classical </option>
    <option value="rock"> Rock </option>
    <option value="rap"> Rap </option>
    <option value="indie"> Indie </option>
    <option value="pop"> Pop </option>
    <option value="jazz"> Jazz </option>
    <option value="country"> Country </option>
    <option value="other"> Other </option>
  </select>
<br>
  <input type="submit" name="Next Page">
</form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="function/login.js"></script>
</body>
</html>
